.page {
  color: #757757;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
/*Цвет основного текста №757575*/
/*Цвет заголовка #212121*/
/*Цвет акцента #2196F3*/
/*Белый цвет #ffffff*/
:root {
  --primary-text-color--: #757575;
  --title-text-color--: #212121;
  --accent-color--: #2196f3;
  --primary-white-color--: #ffffff;
}
.link.current {
  color: var(--accent-color--);
}
/*logo*/
.logo {
  color: var(--accent-color--);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo span {
  color: var(--title-text-color--);
}
.logo:hover,
.logo:focus {
  color: var(--primary-text-color--);
}
/*site-nav*/
.list {
  list-style: none;
}
.link {
  color: var(--title-text-color--);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.link:hover,
.link:focus {
  color: var(--accent-color--);
}
/*contacts*/
.contacts {
  color: var(--primary-text-color--);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color--);
}
/*hero*/
.hero {
  background-color: #2f303a;
}
.title-hero {
  color: var(--primary-white-color--);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--primary-white-color--);
  background-color: var(--accent-color--);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
/*section*/
section .title-primary {
  color: var(--title-text-color--);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.title-secondary {
  color: var(--title-text-color--);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text {
  color: var(--primary-text-color--);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*section features*/
.title {
  visibility: hidden;
}
/*footer*/
.footer {
  background-color: #2f303a;
}
footer > .logo {
  color: var(--accent-color--);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
a .logo-past {
  color: var(--primary-white-color--);
}
.footer address {
  color: var(--primary-white-color--);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer.contacts {
  color: #ffffff 60%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
